:root {
    --text-base: clamp(1rem, 2vw, 1.5rem);
    --text-lg: clamp(2rem, 5vw, 5rem);
    --text-xl: clamp(4rem, 10vw, 10rem);   
}

body {
    height: 100dvh;
    margin: 0;
    font-family: "Rubik", serif;
    font-weight: 400;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
}
#color-name,
#color-hex {
    margin: 0;
    text-align: center;
}
#color-name {
    font-size: var(--text-xl)
}
#color-hex {
    font-size: var(--text-lg)
}
#repo-link {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
.icon-btn {
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    transition: box-shadow 200ms, transform 200ms;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.75), 4px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1);
}
.icon-btn:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.75), 0px 0px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}
#random-button {
    position: fixed;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
}
.alert {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.75), 4px 4px rgba(0, 0, 0, 0.5);
    animation: float 2s forwards;
    position: fixed;
    white-space: nowrap;
    font-size: var(--text-base);
    transform: translateY(2rem);
}
#follow-mouse-text {
    position: fixed;
    opacity: 0;
    margin: 0;
    z-index: 1;
    font-size: var(--text-base);
}
#volumn-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
#volumn-button svg {
    transition: opacity 200ms;
}
#volumn-button[data-muted="true"] svg:first-child {
    opacity: 0;
    position: absolute;
}
#volumn-button[data-muted="false"] svg:last-child {
    opacity: 0;
    position: absolute;
}
@keyframes float {
    0% {
        opacity: 0;
    }
    60% {
        transform: translateY(-2rem);
        opacity: 1;
    }
    90% {
        transform: translateY(-1rem);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 1;
    }
}
@media (max-width: 600px) {
    #follow-mouse-text {
        position: static;
        opacity: 1;
    }
}